version: '3.9'

services:
  api:
    build:
      context: ..
      dockerfile: docker/api/Dockerfile

    restart: unless-stopped

    env_file:
      - .env
    {% if database_type == "postgresql"%}
     environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    {% endif %}
    depends_on:
      - migrations
    {% if database_type == "postgresql"%}
      - postgres
    {% endif %}
    ports:
      - ${API_SERVER_PORT}:5000
    networks:
      - bridge_net

    command: [
      "poetry", "run", "uvicorn", "app:create_app",
      "--host", "0.0.0.0",
      "--port", '5000',
    ]

  {% if database_type == "postgresql"%}
  postgres:
    build:
      context: ..
      dockerfile: docker/postgresql/Dockerfile

    restart: unless-stopped

    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_DATABASES="test_${POSTGRES_DATABASE_NAME}","${POSTGRES_DATABASE_NAME}"
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ${POSTGRES_DATA_VOLUME}:/var/lib/postgresql/data/pgdata
  {% endif %}

  migrations:
    build:
      context: ..
      dockerfile: docker/migrations/Dockerfile
    env_file:
      - .env
    {% if database_type == "postgresql"%}
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    depends_on:
      - postgres
    command: [
        "bash", "./scripts/wait-for-server.sh", "postgres:5432", "-t", "120",
        "--",
        "poetry", "run", "python", "-m", "scripts.migrate"
    ]
    {% endif %}
    networks:
      - bridge_net

networks:
  bridge_net:
    name: bridge_net
    driver: bridge
